 #content{
text-align: center;

width: 25%;

margin-left: auto;
margin-right: auto;
padding:  1%;

 }
 #siir{

font-size: 130%;
color: #333333;
font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;

 }
 #baslik{

font-size: 200%;

color: #333333;
font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;

 }
 #lines{
   background-color: black;
   height: 0.2%;
   margin-left: auto;
   margin-right: auto;

 }
 .footer {
   height: 5%;

  text-align: center;
font-size: 110%
}
 #line{

background-color: black;
height: 0.2%;
margin-left: auto;
margin-right: auto;
width: 90%;
margin-top: 2%;

 }
 .glowing-border {
    border: 1px solid #333333;
    border-radius: 7px;padding-left: 3px;
}

.glowing-border:focus {
    outline: none;

}
#button{

  
}

#form{


margin-top: 2%;
  color: #333333;
  font-family: Impact, Charcoal, sans-serif;
font-size: 120%;


}

 #navbar{

margin-left: auto;
margin-right: auto;
width: 50%;
text-align: center;
padding-left: 0;
padding-right: 0;
word-spacing: 169%;

 }
#yazar{
  text-align: right;
}
a {
  font-size: 150%;
  font-family: Courier, Monaco, monospace;

}
